.m-title{
  position: fixed;
  height: .7rem;
  background: #fff;
  border-bottom: 1px solid #b9babc;
  line-height: .7rem;
  color: #72727a;
  width: 100%;
  top: 0;
  z-index: 22;
  left: 0;

  text-align: center;
  font-size: .25rem;
  .go{
    display: block;
    position: absolute;
    left: .3rem;
  }
}
